body {
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* NAVBAR */

.navbar {

}

.nav {
  float:right;
}

/* EMPTY NAV SPACE */
.empty-nav {
  display:inline-block;
  width:300px;
  height:500px;
  text-align: center;
  border: 1px solid black;
}

/* CLASS NOTES NAV */

/*.class-notes {
  /*display:inline-block;
  width:250px;
  height:500px;
  margin-left:200px;
  border:1px solid black;
}*/

.table-borderless tr {
  border:1px solid black;
  padding:5px;
}

/*.class-notes .table-borderless td {
    border: none;
}*/

.table-borderless{
  border:1px solid black;
}

.assignments{
  font-size:10px;
  border:1px solid black;
}

.trainee-name{
  font-weight: bold;
  margin-left:0;
}

.date-assigned{
  margin-right:0;
}

/* STUDENT NOTES */
.notes{
  /*display:inline-block;
  margin-right:400px;
  width:600px;*/
  height:700px;
  border:1px solid black;
}
