*{
  font-family: 'Roboto', sans-serif;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* NAVBAR */

nav {
  border-bottom: 1px solid black;
}

.nav {
  float:right;
}

/* EMPTY NAV SPACE */
.empty-nav {
  height:100%;
  text-align: center;
  border: 1px solid black;
}

/* CLASS NOTES NAV */

.cn-h1 {
  margin-left:150px;
}

.class-notes {
  height:500px;
  border:2px solid grey;
  margin-left:150px;
  padding:5px;
}

.class-notes table {
  margin:2px;
  padding:0;
}

.table-borderless {
  border:1px solid black;
}

.active {
  border:3px solid black;
}

.class-notes .table-borderless tr,
.class-notes .table-borderless td {
  border:none;
  max-height:1;
}

.assignments{
  font-size:12px;
}

.trainee-name{
  font-weight: bold;
  margin-left:0;
  text-align: left;
}

.date-assigned,
.date-submitted {
  text-align: right;
}

/* STUDENT NOTES */
.notes{
  margin-left:10px;
  height:600px;
  border:2px solid grey;
}
