body {
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* NAVBAR */

nav {
  border-bottom: 1px solid black;
}

.nav {
  float:right;
}

/* EMPTY NAV SPACE */
.empty-nav {
  height:100%;
  text-align: center;
  border: 1px solid black;
}

/* CLASS NOTES NAV */

.cn-h1 {
  margin-left:20%;
}

.class-notes {
  height:500px;
  border:2px solid grey;
  margin-left:200px;
}

.table-borderless {
  padding:5px;
}

.table-borderless tr {
  padding:5px;
  margin-top:5px;
}

.class-notes .table-borderless td {
    border: none;
}

/*.table-borderless{
  border:1px solid black;
}*/

.assignments{
  font-size:10px;
  border:1px solid black;
}

.trainee-name{
  font-weight: bold;
  margin-left:0;
}

.date-assigned{
  margin-right:0;
}

/* STUDENT NOTES */
.notes{
  margin-left:10px;
  height:700px;
  border:2px solid grey;
}
