*{
  font-family: 'Roboto', sans-serif;
}

.cover {
  min-height:100%;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* NAVBAR */
.navbar-default{
  color:black;
  background-color: pink;
}

/* EMPTY NAV SPACE */
.empty-nav {
  height:100%;
  text-align: center;
  border: 1px solid black;
}

/* CLASS NOTES NAV */

.cn-h1 {
  margin-left:150px;
}

.class-notes {
  height:68%;
  border:2px solid rgb(172, 172, 172);
  margin-left:150px;
}

.class-notes table {
  margin:2px;
  padding:0;
}

.table-borderless {
  border:1px solid black;
}

.active {
  border:3px solid black;
}

.class-notes .table-borderless tr,
.class-notes .table-borderless td {
  border:none;
  max-height:1;
}

.assignments{
  font-size:12px;
}

.trainee-name{
  font-weight: bold;
  text-align: left;
}

.date-assigned,
.date-submitted {
  text-align: right;
}

/* STUDENT NOTES */
.notes{
  height:80%;
  margin-left:10px;
  padding-left:5px;
  border-left:2px solid rgb(172, 172, 172);
}

.text{
  border:1px solid black;
  padding:10px;
  min-height:90%;
  background-color: white;
}

/* BUTTONS */
.btn {
  width:250px;
  text-align: center;
}

.approve {
  background-color: rgb(58, 207, 91);
  border: 1px solid rgb(23, 145, 50);
}

.fellowship {
  background-color: rgb(51, 180, 214);
}

.appdeny {
  position:absolute;
  left:15;
  bottom:0;
}

.appdeny .btn {
  margin:10px;
}

.control {
  position:absolute;
  width:300px;
  bottom:12;
  margin-left:150px;
}

.control .btn {
  height:10%;
  margin-bottom:5px;
  border:1px solid grey;
  min-width:300px;
  background-color:rgb(213, 213, 213);
}

/* MODAL */
.comments-send {
  width:100px;
  background-color:rgba(50, 212, 217, 0.51);
  color:white;
}

/*#commentbox{
  max-width:200px;
}*/
