*{
  font-family: 'Roboto', sans-serif;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* NAVBAR */
.navbar-default{
  color:black;
  background-color: pink;
}

/* EMPTY NAV SPACE */
.empty-nav {
  height:100%;
  text-align: center;
  border: 1px solid black;
}

/* CLASS NOTES NAV */

.cn-h1 {
  margin-left:150px;
}

.class-notes {
  height:60%;
  border:2px solid grey;
  margin-left:150px;
}

.class-notes table {
  margin:2px;
  padding:0;
}

.table-borderless {
  border:1px solid black;
}

.active {
  border:3px solid black;
}

.class-notes .table-borderless tr,
.class-notes .table-borderless td {
  border:none;
  max-height:1;
}

.assignments{
  font-size:12px;
}

.trainee-name{
  font-weight: bold;
  text-align: left;
}

.date-assigned,
.date-submitted {
  text-align: right;
}

/* STUDENT NOTES */
.notes{
  margin-left:10px;
  height:65%;
  border:2px solid grey;
}

/* BUTTONS */
.btn {
  width:300px;
  height:5%;
  margin-top:2px;
}

.btn-group-vertical {
  /*margin-left:150px;*/
}

.control {
  margin-top:5px;
  float:left;
  align:left;
}
